Repository ereadingtool/ereadingtool, pull requests merged in 2020-10, with the labels that each got.

#179 Add create and edit text pages
  web/package-lock.json
  web/package.json
  web/public/css/create_text.css
  web/src/Answer/View.elm
  web/src/Api/Endpoint.elm
  web/src/InstructorAdmin/Text/Create.elm
  web/src/InstructorAdmin/Text/Translations.elm
  web/src/Pages/Text/Create.elm
  web/src/Pages/Text/Edit/Id_Int.elm
  web/src/Question/Decode.elm
  web/src/Question/Encode.elm
  web/src/Question/Field.elm
  web/src/Question/View.elm
  web/src/Shared.elm
  web/src/Text/Component.elm
  web/src/Text/Encode.elm
  web/src/Text/Field.elm
  web/src/Text/Section/Component.elm
  web/src/Text/Section/Component/Group.elm
  web/src/Text/Section/Encode.elm
  web/src/Text/Section/View.elm
  web/src/Text/Subscriptions.elm
  web/src/Text/Tags/View.elm
  web/src/Text/Translations.elm
  web/src/Text/Translations/Model.elm
  web/src/Text/Translations/Msg.elm
  web/src/Text/Translations/Update.elm
  web/src/Text/Translations/View.elm
  web/src/Text/Update.elm
  web/src/Text/View.elm
  web/src/TextEdit.elm
  web/src/index.html
  web/src/index.ts
Labels: instructor

#180 Add initial flashcards page
  web/src/Api.elm
  web/src/Flashcard/Model.elm
  web/src/Flashcard/Msg.elm
  web/src/Flashcard/Update.elm
  web/src/Flashcard/View.elm
  web/src/Flashcard/WebSocket.elm
  web/src/Pages/Flashcards/Student.elm
  web/src/Shared.elm
Labels: flashcards

#181 Fix authed page redirects
  web/src/Shared.elm
Labels: elm-spa

#184 Add text reader and update websocket implementation
  web/public/css/text.css
  web/src/Api.elm
  web/src/Api/WebSocket.elm
  web/src/Pages/Flashcards/Student.elm
  web/src/Pages/Text/Id_Int.elm
  web/src/Text/Section/Words/Tag.elm
  web/src/TextReader/Question/Decode.elm
  web/src/TextReader/Text/Decode.elm
  web/src/index.ts
Labels: elm-spa

#188 Add more to student profile page
  web/public/css/user_profile.css
  web/src/Pages/Profile/Student.elm
  web/src/Shared.elm
  web/src/User/Profile.elm
  web/src/User/Student/Performance/Report.elm
  web/src/User/Student/Profile.elm
  web/src/User/Student/Profile/Decode.elm
Labels: student

#202 Fix broken link and broken styles
  web/public/css/instructor_profile.css
  web/src/Pages/Profile/Instructor.elm
Labels: accounts, elm-spa, instructor

#201 More work on create and edit text pages
  web/public/css/create_text.css
  web/src/Pages/Text/Edit/Id_Int.elm
  web/src/Text/Section/View.elm
  web/src/Text/Section/Words/Tag.elm
  web/src/Text/Translations/View.elm
  web/src/Text/View.elm
  web/src/index.html
Labels: elm-spa, styling, translations

#203 Upgrade/elm spa add public pages
  web/public/css/user.css
  web/public/css/user_reset_pass.css
  web/src/Api/Endpoint.elm
  web/src/Pages/Login/Instructor.elm
  web/src/Pages/Signup/Instructor.elm
  web/src/Pages/Signup/Student.elm
  web/src/Pages/Top.elm
  web/src/Pages/User/ForgotPassword.elm
  web/src/Pages/User/ResetPassword/Uidb64_String/Token_String.elm
  web/src/User/Login.elm
  web/src/User/SignUp.elm
  web/src/index.ts
Labels: elm-spa, styling

#204 Add styles to difficulty preference select
  web/public/css/user.css
  web/src/Pages/Profile/Student.elm
Labels: elm-spa, styling

#205 Add text title or ID to browser tabs
  web/src/Pages/Text/Edit/Id_Int.elm
  web/src/Pages/Text/Id_Int.elm
Labels: elm-spa

#206 Refactor navbar
  web/public/css/ereader.css
  web/public/css/user_profile.css
  web/public/css/user_reset_pass.css
  web/public/img/star_logo.png
  web/public/img/star_logo.svg
  web/src/Shared.elm
Labels: styling

#211 Add loading animation to search pages
  web/public/css/loader.css
  web/src/Pages/Text/EditorSearch.elm
  web/src/Pages/Text/Search.elm
  web/src/index.html
Labels: text search

#216 Upgrade/add performance reports
  web/public/css/user_profile.css
  web/src/Api.elm
  web/src/Api/Endpoint.elm
  web/src/Pages/Profile/Student.elm
  web/src/User/Student/Performance/Report.elm
  web/src/User/Student/Profile.elm
Labels: elm-spa, performance, student

#217 Add mobile nav
  web/public/css/ereader.css
  web/public/css/user.css
  web/public/img/menu.svg
  web/src/Shared.elm
  web/src/index.html
Labels: styling

#222 Styling fixes for mobile
  web/public/css/user.css
  web/public/css/user_reset_pass.css
  web/src/Pages/User/ResetPassword/Uidb64_String/Token_String.elm
Labels: styling

#221 Upgrade merge words functionality
  web/public/css/create_text.css
  web/src/Api.elm
  web/src/Api/Endpoint.elm
  web/src/InstructorAdmin/Text/Translations.elm
  web/src/Pages/Text/Create.elm
  web/src/Pages/Text/Edit/Id_Int.elm
  web/src/Text/Translations.elm
  web/src/Text/Translations/Model.elm
  web/src/Text/Translations/Update.elm
  web/src/Text/View.elm
Labels: elm-spa, instructor, translations

#238 Change questions attempted message for none
  web/src/Pages/Text/Search.elm
Labels: enhancement

#240 New setting for sandbox emails
  ereadingtool/settings.py
  user/urls/forgot_pass.py
Labels: backend
