Repository ereadingtool/ereadingtool, pull requests merged in 2021-02, with the labels that each got.

#339 Feature/unmerge
  text/urls.py
  text/views/api/text_word/group.py
  web/src/Api/Endpoint.elm
  web/src/InstructorAdmin/Text/Translations.elm
  web/src/Text/Translations/Model.elm
  web/src/Text/Translations/Msg.elm
  web/src/Text/Translations/TextWord.elm
  web/src/Text/Translations/Update.elm
  web/src/Text/Translations/View.elm
Labels: enhancement, translations

#340 Add student welcome banner
  web/public/css/user_profile.css
  web/src/Pages/Profile/Student.elm
Labels: enhancement, student

#342 Fix missing and out-of-order hints
  web/src/Help/PopUp.elm
  web/src/Pages/Profile/Student.elm
  web/src/User/Profile.elm
  web/src/User/Student/Profile.elm
  web/src/User/Student/Profile/Decode.elm
  web/src/User/Student/Profile/Encode.elm
  web/src/User/Student/Profile/Flags.elm
  web/src/User/Student/Profile/Help.elm
  web/src/User/Student/Profile/Model.elm
  web/src/User/Student/Profile/Msg.elm
  web/src/User/Student/Profile/Resource.elm
  web/src/User/Student/Profile/Update.elm
  web/src/User/Student/Profile/View.elm
Labels: bug, student

#346 Add not found page
  NOTICE
  web/public/css/ereader.css
  web/public/img/404.jpg
  web/src/Pages/NotFound.elm
Labels: enhancement

#344 Feature/flashcards csv
  report/models.py
  user/student/models.py
  user/urls/student.py
  user/views/student_flashcards.py
  web/public/css/user_profile.css
  web/src/Api.elm
  web/src/Api/Endpoint.elm
  web/src/Pages/Profile/Student.elm
  web/src/Shared.elm
Labels: enhancement, flashcards

#343 Add and delete questions
  text/models.py
  text/views/api/text.py
Labels: bug, instructor

#347 Feature/student banner
  ereadingtool/settings.py
  text/views/api/text.py
  web/public/css/text_search.css
  web/public/css/user_profile.css
  web/src/Pages/Profile/Student.elm
  web/src/Pages/Text/Search.elm
  web/src/Shared.elm
Labels: styling

#348 Feature/flashcards pdf
  report/models.py
Labels: bug

#349 Text editor improvements
  web/public/css/create_text.css
  web/src/Pages/Text/Edit/Id_Int.elm
  web/src/Question/View.elm
  web/src/Text/Section/View.elm
  web/src/index.ts
Labels: enhancement, instructor

#353 Student profile improvements
  user/urls/student.py
  user/views/student_flashcards.py
  web/public/css/user_profile.css
  web/src/Api.elm
  web/src/Api/Endpoint.elm
  web/src/Pages/Profile/Student.elm
  web/src/Pages/Text/Id_Int.elm
Labels: enhancement, instructor, student

#357 Add difficulty info to sign up page
  NOTICE
  web/public/css/ereader.css
  web/public/css/user.css
  web/public/img/info-black.svg
  web/public/img/info-gray.svg
  web/src/Pages/Signup/Student.elm
  web/src/User/SignUp.elm
Labels: enhancement, student
